/* Definir variables para los selectores */
:root {
    /* Paleta de colores */
    --color1: #212529;
    --color2: #FFFFFF;
    --color3: #454545;
    --color4: #121212;

    /* Tipografias */
    --fuente1: "Roboto", sans-serif;

    /* Tamaños de fuentes */
    --fs1:16px;
    --fs2:40px;
    --fs3:24px;
    --fs4:20px;
    --fs5:32px;

    /* Interlineado */
    --lh1:1.8;
    --lh2:1.5;
    --lh3:2;

}
.fondo_contenedor1{
    background-color: #333333;
    padding: 20px;
}
.menu{
    text-align: center;
    
}
.menu a {
    font-size: 22px;              
    font-family: Verdana, Arial, sans-serif;
    color: whitesmoke;            
    text-decoration: none;        
    margin-right: 20px;
           
}

/* Selector universal de elementos HTML */
* {
    /* Eliminan los aspectos predeterminados */
    margin: 0;
    padding: 0;

    /* Evitan que cambie el tamaño de las cajas */
    box-sizing: border-box;
}

/* Selectores de tipo etiqueta HTML */
html {
    /* Suaviza el desplazamieento del scroll en la ventana del navegador */
    scroll-behavior: smooth;
}

body {
    font-family: var(--fuente1);
    line-height: var(--lh1);
    font-size: var(--fs1);

}

h1 {
    font-size: var(--fs2);
}

h2 {
    font-size: var(--fs5);
    color: var(--color4);
}

h3 {
    font-size: var(--fs4);
    color: var(--color4);
}


/* Selectores de estilos de tipo class */
.container {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-color: var(--color1);
    color: var(--color2);

    position: sticky; /* Pegar la cabecera en la parte superior de la ventana del navegador*/
    top: 0px; /*Parte superior de la ventana */
    z-index: 100; 
}

.service {
    background-color: var(--color2);
    color: var(--color3);
}

.footer {
    background-color:var(--color1);
    color: var(--color2);
}

.padding-sm {
    padding-top: 10px;
    padding-bottom: 10px;
}

.padding-xl {
    padding-top: 90px;
    padding-bottom: 90px;
}

.barberos {
    background-color: var(--color3);
    color: var(--color2);
}

.img-fluid {
    /* Ajustar el ancho de la imagen al tamaño (ancho) de su caja padre */
    width: 100%;
    height: auto;
}

.row {
    /* Activar el flexbox */
    flex-direction: row; /* Alinear las cajas hijo en fila (horizontalmente) */
    display: flex;
    flex-wrap: wrap; /* Permite flexbox multifila */

    padding-left: 15px;
    padding-right: 15px;
}

.col {
    /* Establecer columna del mismo ancho de manera automatica */
    flex-basis: 0;
    flex-grow: 1;

    /* Agregar espacio entre columnas */
    padding-left: 15px;
    padding-right: 15px;
}

.col-33 {
    flex-basis: 33.33%;
    max-width: 33.33%;
}

.container1 {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.imagen-1 {
    margin-right: 15px;
    max-width: 90%;
    width: 100%;
}

.imagen-2 {
    margin-right: 15px;
    max-width: 90%;
    width: 100%;
}

.imagen-3 {
    margin-right: 15px;
    max-width: 90%;
    width: 100%;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    width: 150px;
}

.nav-menu {
    display: flex;
    flex-direction: row;
}

.nav-menu-link {
    display: block;
    padding: 5px 10px;
    color: var(--color2);
    text-decoration: none; /* Quita el subrayado */
    transition: all 0.2s ease-in-out;
}

.nav-menu-link:hover {
    color: #D9842F;
}

.nav-footer {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.barberos1 {
    color: var(--color2);
}
.contenedor {
  display: flex;              
  align-items: center;        
  justify-content: space-between; 
  gap: 20px;                  
}

.columna {
  flex: 1;                   
}

.imagen {
  max-width: 100%;            
  height: auto;               
}
/* Selectores de tipo ID */
#top-bar {
    background-color: var(--color2);
    color:var(--color4);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.9em;
}

.row-justifycontent {
    justify-content: space-between;
}

.row-topbar-link {
    color: var(--color4);
    text-decoration: none; /*Quitar el subrayado*/
    margin-right: 10px; 
}

.row-topbar-icons {
    font-size: 1.3em;   
}

.videos1 {
    display: flex;
    background-color: #D9D9D9;

.contenedor-video { 
    margin: 5%;    
}

.textovideo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 8%;
    color: black;
}

.img-service:hover img {
    transform: scale(1.1);
}

.img-service {
    overflow: hidden;
}

.img-service img {
    transition: all 0.4s ease-in-out;
}

.scroll-up {
    /* formato y tamaño */
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border: 1px solid var(--color4);
    background-color: #FF8C00;
    color: #121212;

    /* posicion del icono */
    position: fixed;
    bottom: 30px;
    right: 30px;

    transition: all 0.2s ease-in-out;
    box-shadow: 0 15px 20px 0 rgba(32, 54, 70, 0.4);
    border-radius: 200px 200px 200px 200px;
}

.scroll-up:hover {
    transform: translateY(-10px);
}