body{
    margin: 0;
    padding: 0;
}
.fondo_contenedor1{
    background-color: black;
    padding: 20px;
}
.menu a {
    font-size: 22px;              
    font-family: Verdana, Arial, sans-serif;
    color: whitesmoke;            
    text-decoration: none;        
    margin-right: 20px;  
           
}

.menu a:hover{
    transition: color 1s ease ;  
    color: darkgoldenrod;
}